:root{
    --text-font: 'Merriweather', serif;
    --text-color:#222;
    --primary-color:#f65e39;
    --height-header: 86px;
}
*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: var(--text-font);
    box-sizing: border-box;
    scroll-padding-top:var(--height-header);
    scroll-behavior: smooth;
}
body{
    margin: var(--height-header) auto;
}
