:root{
    --text-font: 'Merriweather', serif;
    --text-color:#222;
    --primary-color:#f65e39;
    --height-header: 86px;
}
*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: var(--text-font);
    box-sizing: border-box;
    scroll-padding-top:var(--height-header);
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
}
body{
    margin: var(--height-header) auto;
}
.mask {
    content: "";
    position: fixed;
    background: rgba(0,0,0,.8);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    display:none;
}
.mask.open{
    display: block;
}
